.footer {
  background-color: #333333;
  color: #fff;
  padding: 20px 120px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sections {
  display: flex;
}

.footer-section {
  margin-right: 50px;
  /* Adjust as needed */
}

.footer-section h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-section a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;

}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust as needed */
  /* Add any additional top section styles */
}
.footer-logo {
  text-align: right;
  /* Add any additional styling or positioning here */
}

.logo-text-small {
  font: normal normal bold 35px/52px DIN Condensed;
  color: #FFFFFF;
  /* Add any additional styling here */
}

.logo-text-large {
  font: normal normal bold 62px/52px DIN Condensed;
  color: #FFFFFF;
  /* Add any additional styling here */
}


.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

}

.social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px; 
}


.footer-bottom p {
  font-size: 12px;
  margin: 0;
}

.footer-heading-4 {
  text-align: left;
  font: normal normal bold 14px DIN Condensed;
  letter-spacing: 0.14px;
  color: #FFDAC9;
  opacity: 1;
}

.footer-subheading-4 {
  text-align: left;
  font: normal normal normal 13px Gill Sans;
  letter-spacing: 0.13px;
  color: #767676 !important;
  opacity: 1;
}
.footer-bottom-text {
  text-align: left;
  font: normal normal normal 13px/20px Gill Sans;
  letter-spacing: 0.13px;
  color: #767676;
  opacity: 1;
  margin: 0; /* Removes default margin from <p> element */
  flex: 1; /* Allows the text to take up available space */
}
.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust if necessary */
}
.footer-bottom {
  background-color: #333; /* Use the appropriate color */
  color: #767676;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust as needed */
}