
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* Adjust text color for visibility */
    padding: 25px 25px 25px 35px;
    transition: background-color 0.3s;
    z-index: 1000; /* Ensure the header is above other elements */
}


  
  .header-logo .logo {
    height: 60px; /* Adjust based on your logo's aspect ratio */
  }
  
  .header-nav .nav-link, .header-actions .action-link {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* Add more styles as needed */
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%; /* Adjust padding as needed */  color: black;
  transition
: background-color 0.3s;
z-index: 1000;
}

.header-logo .logo-link {
text-decoration: none;
color: black; /* Change as needed /
font-size: 28px; / Adjust to match your logo size /
font-weight: bold;
margin-right: 2rem; / Adjust space between logo and nav links */
}

.header-nav {
display: flex;
align-items: center;
}

.header-nav .nav-link {
text-decoration: none;
color: black; /* Adjust text color /
margin-right: 1rem; / Adjust space between nav links /
text-transform: uppercase;
font-size: 18px; / Adjust font size as needed */
}

.header-nav .nav-link:last-child {
margin-right: 0;
}

.header-actions {
display: flex;
align-items: center;
}

.header-actions .action-link {
text-decoration: none;
color: black; /* Adjust text color /
margin-left: 1rem; / Adjust space between action links /
text-transform: uppercase;
font-size: 18px; / Adjust font size as needed */
}

